* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: #282C33;
  color: #AAB1BE;
  font-family: "Menlo Regular";
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer, .push {
  height: 4em;
}

#main_nav {
  height: 2em;
}

#nav_list li{
  display: inline;
  list-style-type: none;
  padding-right: 2em;
  float: right;
}

.menu_bar {
  text-align: center;
}
